header
  .jumbotron.hidden-xs
  // jumbotron
  nav.navbar.navbar-inverse
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')=title
      #navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/') Home
          li
            a.dropdown-toggle(href='./recipes.html', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              | Recipes
              span.caret
                span
            ul.dropdown-menu
              li
                a(href='/recipes') All Recipes
              li.divider(role='separator')
              each recipe in recipeNames
                li
                  a(href=`/recipes/${recipe.shortname}`)=recipe.title

          li
            a(href='/feedback') Submit a recipe
        // nav
      // navbar-collapse
    // container