extends layout/index
block recipeslist
  include includes/recipeslist
block content    
  #home.container
    .row
      .col-sm-12
        .maincontent
          article.article
            h1.article-title.text-center Welcome to Eat Me!
            p.text-center
              | We specialise in quick easy recipes great for weeknight dinners.
            p.text-center
              | Got an idea for a recipe? Got some feedback for us? Submit a feedback form and let us know!
